{% extends 'blog/base.html' %}
{% block content-header %}
	 <h1>Post</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">
                <i class="fa fa-fw ti-home"></i> Dashboard
            </a>
        </li>
        <li class="active">
            Post
        </li>
    </ol>
{% endblock %}
{% block aktifList_blog %}
	class="active"
{% endblock %}
{% block content %}
	{% for post in posts %}
		<div class="post">
			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<p>published: {{ post.published_date }}</p>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
{% endblock %}